body {
  background: #f9f9f8;
  color: #595959;
  font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif;
  /* height: auto; */
  
}

* {
  box-sizing: border-box;
}

nav {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}


#navId {
  display: flex;
  list-style: none;
  min-width: 30vw;
  font-size: 30px;
  align-items: center;
  justify-content: space-between;
}

.navBar a {
  text-decoration: none;
  /* padding: 10px 20px; */
  color: #595959; 
  border: solid 10px #f9f9f8;
  /* border-radius: 0px; */
  
}

.navBar a:hover, a:focus{

  border-bottom: 1px solid #595959;
}

/* .navbar a:focus {

} */

.navBar a.active {
  background-color: #595959;
  color: #f9f9f8;
}

.searchBar {
  align-items: center;
  background: #595959 none repeat scroll 0 0;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  padding: 15px;
}

.searchBar:hover, .searchBar:focus {
  cursor: pointer;
  background: #f9f9f8;
}


.searchBar button,
.searchBar input {
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
background: transparent;
border: 0;
color: inherit;
font: inherit;
outline: 0;
}

.gameResults {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: auto;
  border: 20px solid #f9f9f8 ;
  row-gap: 25px;
  column-gap: 5%;
  padding: 50px;
  background-color: white;
}


img {
  max-width: 20%;
  max-height: auto;
}
 h2 {
   width: 70%;
   display: flex;
 }
